a.nav-link{
   
    color: #fff;
    font-weight: 400;
}

.navbar-brand{
    font-weight: 400;
}
.pt-100{
    padding-top: 100px;
}
.pt-65{
    padding-top: 65px;
}
.pt-list{
    padding-top: 80px;
}
.cursor-pointer{
	cursor:pointer;
}

.img-form {
    height: 125px;
    border-radius: 50%;
}
.img-list{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.img-list-form{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#lista_servicos > tr:hover{
    background: #aaaaaa29;
}

tbody > tr:hover{
    background: #aaaaaa29;
}
#lista_servico_colaboradores > tr:hover{
    background: #aaaaaa29
}

.dropdown-menu a:hover{
    /*
    width: 90%;
    margin-left: 9px;
    /**/
    background: #007bff;
    color: #fff;
    box-shadow: 0 5px 11px rgba(0,0,0,.18);
    border-radius: .125rem;

}