a.nav-link{
   
    color: #fff;
    font-weight: 400;
}

.navbar-brand{
    font-weight: 400;
}

.pt-list{
    padding-top: 80px;
}
.cursor-pointer{
	cursor:pointer;
}

.img-form {
    height: 125px;
    border-radius: 50%;
}
.img-list{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.img-list-form{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}